## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
.vs/
*.nupkg
packages/

## IDE
.idea/
*.swp
*~
.vscode/

## Python
__pycache__/
*.pyc

## Local logs
logs/

## OS
.DS_Store
Thumbs.db
